<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Dataviz.WinForms" version="2.1.6" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms" version="5.0.7" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
</packages>